# Home Assistant sensitive/local data
secrets.yaml
.storage/
.storage-backup/
.ha_run.lock

# Databases and WAL/SHM
*.db
*.db-shm
*.db-wal
*.db.corrupt*
*.db-shm.corrupt*
*.db-wal.corrupt*

# Logs
home-assistant.log
home-assistant.log.*
*.log
*.log.*

# Backups
backups/

# Local deps/cache
/deps/

# Python cache
__pycache__/
*.pyc
*.pyo

# Home Assistant runtime files
.HA_VERSION

# Zigbee2MQTT local state/logs
zigbee2mqtt/state.json
zigbee2mqtt/log/
